

# HDFS location for HDFS test
HDFS_PATH="/user/smokeTest/smoketestOutDemo"

# Log file path
LOG_PATH="/home/murshida/KitePharma_SmokeTest/HDP_SEC/log/logfile.log"

# Local location for HDFS test
LOC_PATH="/etc/hosts"


TEMP_PATH="/home/murshida/smoketestOutTemp"

# KRB HDFS Details
KRB_KEYTAB_HDFS="/etc/security/keytabs/hdfs.headless.keytab"
KRB_PRINCIPAL_HDFS="hdfs-hdpcluster@KDCAUTH.COM"


HIVESERVER2=master.hdp
REALM=`awk '/^ *default_realm/{print $3}' /etc/krb5.conf`
BKOPTS=";principal=hive/_HOST@${REALM}"

# KRB HIVE Details
KRB_KEYTAB_HIVE="/etc/security/keytabs/hive.service.keytab"
KRB_PRINCIPAL_HIVE="hive/master.hdp@KDCAUTH.COM"

HIVE_DATA_PATH="/home/murshida/test1.txt"
HIVE_WAREHOUSE="/warehouse/tablespace/managed/hive/test"

# KRB HBASE Details
KRB_KEYTAB_HBASE="/etc/security/keytabs/hbase.service.keytab"
KRB_PRINCIPAL_HBASE="hbase/master.hdp@KDCAUTH.COM"

# ZOOKEEPER details
ZOOKEEPER="master.hdp:2181"

# KAFKA details
KAFKA="master.hdp:6667"
KAFKA_LOC="/usr/hdp/3.1.0.0-78/kafka/"
KAFKA_HOME="/usr/hdp/current/kafka-broker/bin"

# KRB KAFKA Details
KRB_KEYTAB_KAFKA="/etc/security/keytabs/kafka.service.keytab" 
KRB_PRINCIPAL_KAFKA="kafka/master.hdp@KDCAUTH.COM"

# KAFKA config
KAFKA_CONFIG="/usr/hdp/current/kafka-broker/config"

# PIG config
PIG_PATH_IN="/user/smokeTest/data"
PIG_PATH_OUT="/user/smokeTest/pigOut"
TOPIC_NAME="test"

SCRIPT_HOME="/home/murshida/KitePharma_SmokeTest/HDP_SEC"

# MapReduce test IN/OUT locations
MAP_REDUCE_IN="/user/smokeTest"
MAP_REDUCE_OUT="/user/smokeTest/MapReduce/op1"

# KRB YARN Details 
KRB_KEYTAB_YARN="/etc/security/keytabs/yarn.service.keytab"
KRB_PRINCIPAL_YARN="yarn/master.hdp@KDCAUTH.COM"

# Spark test IN/OUT locations
SPARK_IN_CLUS="hdfs:/user/smokeTest/SparkIn"
SPARK_OUT_CLUS="hdfs:/user/smokeTest/SparkOut"
SPARK_IN_LOC="/home/murshida/KitePharma_SmokeTest/SparkData"



