
HDFS_PATH="/user/SmokeTest/smoketestOutDemo"
LOG_PATH="/mnt/SmokeTest/logfile.log"
LOC_PATH="/etc/hosts"
TEMP_PATH="/mnt/SmokeTest/smoketestOutTemp"
HIVESERVER2=hortonworks.master
REALM=`awk '/^ *default_realm/{print $3}' /etc/krb5.conf`
BKOPTS=";principal=hive/_HOST@${REALM}"
HIVE_DATA_PATH="/mnt/SmokeTest/test1.txt"
HIVE_WAREHOUSE="/warehouse/tablespace/managed/hive/test"
ZOOKEEPER="hortonworks.master:2181"
KAFKA="hortonworks.master:6667"
KAFKA_LOC="/usr/hdp/3.1.0.0-78/kafka/"
KAFKA_HOME="/usr/hdp/current/kafka-broker/bin"
KAFKA_CONFIG="/usr/hdp/current/kafka-broker/config"
PIG_PATH_IN="/user/SmokeTest/data"
PIG_PATH_OUT="/user/SmokeTest/pigOut"
SPARK_IN_LOC="/mnt/SmokeTest/sparkData"
SPARK_IN_CLUS="/user/SmokeTest/SparkIn"
SPARK_OUT_CLUS="/user/SmokeTest/SparkOut"
TOPIC_NAME="test"
SOLR_HOME="/usr/lib/ambari-infra-solr/bin"
EXAMPLE_HOME_SOLR="/usr/lib/ambari-infra-solr/example"
SOLR_SERVER="http://172.16.0.34:8983/solr"
SOLR_COLLECTION_NAME="test"
SCRIPT_HOME="/mnt/SmokeTest"
MAP_REDUCE_IN="/user/SmokeTest"
MAP_REDUCE_OUT="/user/SmokeTest/MapReduce/"


