# flags

# Set true for services to be tested
HDFS="true"
MAPREDUCE="false"
HIVE="false"
HBASE="false"
IMPALA="false"
SPARK="false"
SPARK2="false"
PYSPARK="false"
PYSPARK2="false"
PIG="false"
SOLR="false"
KAFKA="false"
KUDU="false"
KUDU_SPARK="false"
NIFI="false"

#Specify if kerberos security enabled or not
SECURITY="false"

# HDFS details
HDFS_PATH="/tmp/SmokeTest/"
LOC_PATH="/etc/hosts"
TEMP_PATH="./HDFSOutTemp"

# MapReduce details 
MAP_REDUCE_IN="/tmp/SmokeTest"
MAP_REDUCE_OUT="/tmp/SmokeTest/MapReduce/"
# Possible locations for JAR
# CDH: /opt/cloudera/parcels/CDH/jars/hadoop-examples.jar
# HDP: /usr/hdp/current/hadoop-mapreduce-client/hadoop-mapreduce-examples.jar
MAP_REDUCE_JAR="/opt/cloudera/parcels/CDH/jars/hadoop-examples.jar" # <-- verify

# Hive details
HIVESERVER2="localhost:10000" # <-- update
HIVE_TABLE_NAME="test" # <-- update 
HIVE_TABLE_LOC="/user/hive/warehouse/test" # <-- verify
# BTOPTS=";ssl=true;sslTrustStore=/usr/java/default/jre/lib/security/jssecacerts;trustStorePassword=changeit"

# HBase details
HBASE_TABLE_NAME="test" # <-- update

#Impala
IMPALADAEMON="localhost" # <-- update [no port required]
IMPALA_TABLE_NAME="test_impala" # <-- update

# Spark & Spark2 details
SPARK_IN_CLUS="/tmp/SmokeTest/SparkIn"
SPARK_OUT_CLUS="/tmp/SmokeTest/SparkOut"

# pySpark & pySpark2 details
PYSPARK_IN_CLUS="/tmp/SmokeTest/SparkIn"
PYSPARK_OUT_CLUS="/tmp/SmokeTest/SparkOut"

# Pig details
PIG_PATH_IN="/tmp/SmokeTest/data"
PIG_PATH_OUT="/tmp/SmokeTest/pigOut"

# Solr details
SOLR_SERVER="localhost:8983" # <-- update
SOLR_COLLECTION_NAME="test" # <-- update
SOLR_INSTANTDIR_NAME="test_config" # <-- update
# possible values: http, https
SOLR_PROTOCOL="http" # <-- verify
SOLR_EXAMPLE_HOME="/opt/cloudera/parcels/CDH/share/doc/solr-doc-*/example" # <-- verify
SOLR_CURL_OPS="--negotiate -u :"

# Kafka details
ZOOKEEPER="localhost:2181" # <-- update
KAFKA_HOST="localhost:9092" # <-- update
TOPIC_NAME="test" # <-- update
KAFKA_INP_LOC="/etc/hosts"
KAFKA_OUP_LOC="/tmp/hosts"

# Kudu_Spark Details
KUDU_MASTER="localhost:7051" # <-- update
KUDU_TABLE_NAME="test_table" # <-- update
KUDU_SPARK2_JAR="/opt/cloudera/parcels/CDH/jars/kudu-spark2_2.11-*.jar" # <-- verify

# Nifi Details
NIFI_HOST="localhost:8080" # <-- update
HADOOP_CORE_SITE_PATH="/etc/hadoop/conf/core-site.xml" # <-- verify
HADOOP_HDFS_SITE_PATH="/etc/hadoop/conf/hdfs-site.xml" # <-- verify
TEMP_HDFS_DIRECTORY="/tmp/nifiTest"

# log details
LOG_PATH="./log"