
# log details
LOG_PATH="./log/logfile.log"

# HDFS details
HDFS_PATH="/user/SmokeTest/HDFSOut"
LOC_PATH="/etc/hosts"
TEMP_PATH="./HDFSOutTemp"

# Hive details
HIVESERVER2=quickstart.cloudera
HIVE_DATA_PATH="./lib/test1.txt"
HIVE_WAREHOUSE="/user/hive/warehouse/test"

# MapReduce details 
MAP_REDUCE_IN="/user/SmokeTest"
MAP_REDUCE_OUT="/user/SmokeTest/MapReduce/"

REALM=`awk '/^ *default_realm/{print $3}' /etc/krb5.conf`
BKOPTS=";principal=hive/_HOST@${REALM}"

# Kafka details
ZOOKEEPER="quickstart.cloudera:2181"
KAFKA_PORT="quickstart.cloudera:6667"
KAFKA_LOC="/usr/hdp/3.1.0.0-78/kafka/"
KAFKA_HOME="/usr/hdp/current/kafka-broker/bin"
KAFKA_CONFIG="/usr/hdp/current/kafka-broker/config"
TOPIC_NAME="test"

# Pig details
PIG_PATH_IN="/user/SmokeTest/data"
PIG_PATH_OUT="/user/SmokeTest/pigOut"

# Spark details
SPARK_IN_LOC="./sparkData"
SPARK_IN_CLUS="/user/SmokeTest/SparkIn"
SPARK_OUT_CLUS="/user/SmokeTest/SparkOut"


SOLR_HOME="/usr/lib/ambari-infra-solr/bin"
EXAMPLE_HOME_SOLR="/usr/lib/ambari-infra-solr/example"
SOLR_SERVER="http://172.16.0.34:8983/solr"
SOLR_COLLECTION_NAME="test"

# KRB HDFS Details
KRB_KEYTAB_HDFS="/var/run/cloudera-scm-agent/process/17-hdfs-NAMENODE/hdfs.keytab"
KRB_PRINCIPAL_HDFS="hdfs/quickstart.cloudera@CLOUDERA"

# KRB HIVE Details
KRB_KEYTAB_HIVE="/var/run/cloudera-scm-agent/process/58-hive-HIVESERVER2/hive.keytab"
KRB_PRINCIPAL_HIVE="hive/quickstart.cloudera@CLOUDERA"

# KRB HBASE Details
KRB_KEYTAB_HBASE="/var/run/cloudera-scm-agent/process/22-hbase-MASTER/hbase.keytab"
KRB_PRINCIPAL_HBASE="hbase/quickstart.cloudera@CLOUDERA"

# KRB KAFKA Details
KRB_KEYTAB_KAFKA="" 
KRB_PRINCIPAL_KAFKA=""

# KRB YARN Details 
KRB_KEYTAB_YARN="/var/run/cloudera-scm-agent/process/26-yarn-NODEMANAGER/yarn.keytab"
KRB_PRINCIPAL_YARN="yarn/quickstart.cloudera@CLOUDERA"

# KRB SPARK Details
KRB_KEYTAB_SPARK="/var/run/cloudera-scm-agent/process/117-spark_on_yarn-SPARK_YARN_HISTORY_SERVER/spark_on_yarn.keytab"
KRB_PRINCIPAL_SPARK="spark/quickstart.cloudera@CLOUDERA"


KRB_KEYTAB_IMPALA="/var/run/cloudera-scm-agent/process/137-impala-IMPALAD/impala.keytab"
KRB_PRINCIPAL_IMPALA="impala/quickstart.cloudera@CLOUDERA"


SCRIPT_HOME="<SCRIPT_HOME>"

#flags

#Select the cluster
CLUSTER="cdh"

#Specify security enabled or not
SECURITY="true"

#HDFS active or not
HDFS="true"

#MAPREDUCE active or not
MAPREDUCE="true"

#HIVE active or not
HIVE="true"

#HBASE active or not
HBASE="false"

#IMPALA active or not
IMPALA="false"

#SPARK active or not
SPARK="false"

#SPARK2 active or not
SPARK2="false"

#PIG active or not
PIG="true"

#SOLR active or not
SOLR="true"

#KUDU_IMPALA active or not
KUDU_IMPALA="true"

#KAFKA active or not
KAFKA="true"





